torch==2.1.2
torch-cluster -f https://data.pyg.org/whl/torch-2.1.2+cu121.html # if it hangs, install manually using pip
torch-scatter -f https://data.pyg.org/whl/torch-2.1.2+cu121.html # if it hangs, install manually using pip
# torch-sparse -f https://data.pyg.org/whl/torch-2.1.2+cu121.html
# torch-spline-conv -f https://data.pyg.org/whl/torch-2.1.2+cu121.html
torch_geometric==2.4.0
rdkit~=2023.9.5
dgl~=1.1.3
pandas~=2.2.0
numpy~=1.26.3
pyarrow
openpyxl
dgllife~=0.3.2
matplotlib~=3.8.3
seaborn~=0.13.2
CIRpy~=1.0.2
tqdm~=4.66.1
scikit-learn
ray